body{
  font-family: 'Roboto', sans-serif;
  color: #161616;
}
.container{
  width: 60%;
  border: 1px solid black;
}
.row{
  width: 70%;
  margin: 0 auto;
}
hr{
  width: 70%;
}
hr.styled{
  border-top: 1px solid #8c8b8b;
	text-align: center;
  width: 80%;
}
hr.styled:after{
  content: '?!';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: white;
	color: #8c8b8b;
	font-size: 12px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}
.logo{
  font-size: 50px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #680000;
  margin-left: 20%;
}
.homeLink{
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}
.decorator{
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 35px;
  color: #680000;
}
.col-sm-2, form{
  text-align: center;
}
.btn{
  border: 3px solid #525252;
  background-color: white;
  color: #525252;
  font-weight: bolder;
}
form{
  display: table;
}
input, textarea, label{
  display: table-cell;
}
.center form{
  margin: 0 auto;
}
a{
  color: #161616;
}
a:hover, a:focus, a:active{
  color: #161616;
  text-decoration: none;
}
textarea, input{
  width: 250px;
  border-radius: 3px;
}
input{
  height: 30px;
}
textarea{
  height: 100px;
}
