body{
  font-family: 'Roboto', sans-serif;
  color: #161616;
}
.container{
  width: 60%;
}
.row{
  width: 70%;
  margin: 0 auto;
}
hr{
  width: 70%;
}
hr.styled{
  border-top: 1px solid #8c8b8b;
	text-align: center;
  width: 80%;
}
hr.styled:after{
  content: '?!';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: white;
	color: #8c8b8b;
	font-size: 12px;
}
.logo{
  font-size: 50px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #680000;
  margin-left: 20%;
}
.homeLink, .favoriteLink, .adminLink{
  font-size: 15px;
  word-spacing: 10px;
  font-family: 'Roboto', sans-serif;
}
.decorator{
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 35px;
  color: #680000;
}
.col-sm-2, form{
  text-align: center;
}
.col-sm-2 button{
  margin-bottom: 5px;
}
.btn{
  border: 2px solid #525252;
  background-color: white;
  color: #525252;
  font-weight: bolder;
  font-size: 12px;
  padding: 4px;
}
form{
  display: table;
  margin: 0 auto;
}
input, textarea, label{
  display: table-cell;
}
.center form{
  margin: 0 auto;
}
a{
  color: #161616;
}
a:hover, a:focus, a:active{
  color: #161616;
  text-decoration: none;
}
textarea, input{
  width: 250px;
  border-radius: 3px;
}
input{
  height: 30px;
}
textarea{
  height: 100px;
}
.answerForm textarea, .answerForm input{
  width: 400px;
}
input:focus, textarea:focus{
  outline: none;
}
.col-sm-2 i{
  font-size: 30px;
  margin-top: 35px;
  letter-spacing: 10px;
}
.fa-thumbs-o-up{
  color: #002947;
}
.fa-thumbs-o-down, .glyphicon-fire{
  color: #750000;
}
i.glyphicon-fire{
  font-size: 15px;
  display: inline;
  letter-spacing: 5px;
}
.questionDetail h4{
  margin-bottom: 0px;
}
.red{
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  text-shadow: 1px 1px 2px red, 0 0 30px red, 0 0 10px #7f0000;
}
i.glyphicon-heart{
  cursor: pointer;
  color: #750000;
  text-align: center;
  margin-top: 0px;
}
